/* Mobile (default) */
.container { max-width: 100%; padding: 0 20px; }

/* Tablet */
@media (min-width: 768px) {
    .container { max-width: 720px; margin: 0 auto; }
}

/* Desktop */
@media (min-width: 1024px) {
    .container { max-width: 1000px; }
}

@media (min-width: 1440px) {
    .container { max-width: 1200px; }
}

*{
    margin: 0;
    padding: 0;
}

.navbar_Cls{
    display: flex;
    margin: 20px;
}
.img_logo{
    height: 30px;
    width: 80px;
}
.nav_btn_1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 123, 0, 0.921);
    border-radius: 40px;
    font-weight: bold;
    border: 1px;
    border-style: solid;
    border-color: rgb(255, 145, 0);
    height: 40px;
    width: 200px;
    margin-left: auto;
}

.btn_img_1{
    height: 20px;
    width: 20px;
    margin-right: 10px;
   
}

.nav_btn_2{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.921);
    border-radius: 40px;
    font-weight: bold;
    border: 1px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    height: 40px;
    width: 200px;
    margin-left: 20px;
}



.banner_container{
    background-image: url("/images/empty-stomatology-orthodontist-bright-office-room-with-nobody-it\ 1.png");
    min-height: 50vh;
    min-width: 100%;
    display: flex;
    align-items: center;
}

.text_container{
    background-color: rgba(245, 222, 179, 0.506);
    padding: 40px;
    max-width: 400px;
}

.banner_heading{
    color: rgba(255, 123, 0, 0.921);
    font-size: 25px;
}

.banner_para{
    color: rgba(0, 0, 0, 0.501);
}

.inner_image{
    margin-top: 40px;
}

.banner_btn_1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 123, 0, 0.921);
    border-radius: 40px;
    font-weight: bold;
    border: 1px;
    border-style: solid;
    border-color: rgb(255, 145, 0);
    height: 40px;
    width: 200px;
    margin-top: 15px;
}


.services_section{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.service_section_inner_container_1{
    display: flex;
    padding: 10px;
    width: 100%;
    margin-right: auto;
}

.service_heading{
    color: rgba(255, 123, 0, 0.921);
}

.service_img{
    max-height: 500px;
    max-width: 500px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-right: 10px;
}

.inner_text{
    padding: 10px;
}

h3{
    padding-bottom: 10px;
}

h4{
    padding-bottom: 10px;
}

.inner_para{
    padding-bottom: 10px;
}

ul{
    padding-left: 20px;
}

li{
    color: rgba(0, 0, 0, 0.811);
    font-family: "Roboto";
    font-weight: normal;
    padding-bottom: 3px;
}

.inner_para_1{
    padding-top: 30px;
    padding-left: 20px;
    color: rgb(255, 123, 0, 0.921);
}

.price_heading{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 15px;
    padding-left: 20px;
}

.service_inner_btn_1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 123, 0, 0.921);
    border-radius: 40px;
    font-weight: bold;
    border: 1px;
    border-style: solid;
    border-color: rgb(255, 145, 0);
    height: 40px;
    width: 200px;
    margin: 20px;
}

.service_section_inner_container_2{
    display: flex;
    padding: 10px;
    margin-left: auto;
}

.service_img_1{
    max-height: 500px;
    max-width: 500px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-right: 10px;
}



.aboutus_section{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.aboutus_inner_container{
    display: flex;
}

.aboutus_heading{
    color: rgba(255, 123, 0, 0.921);
}
.aboutus_text{
    padding-top: 20px;
    padding-right: 20px;
    color: rgba(0, 0, 0, 0.904);
}
.aboutus_img{
    max-height: 300px;
    max-width: 300px;
}

.aboutus_img_con{
    margin-left: auto;
}



.testmonials_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}
.testmonials_inner_container{
    display: flex;
}
.smile_img_1{
    max-height: 150px;
    max-width: 150px;
    padding: 10px;
}


.special_offer{
    display: flex;
}
.price{
    text-decoration: line-through;
    margin-left: 20px;
    font-size: 15px;
}



.footer_section{
    background-color: rgb(68, 4, 4);
    min-height: 8vh;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
}

.footer_inner_container{
    margin-left: 100px;
}
.footer_para{
    color: white;
}